<section  id="home"class="home">
  <div class="home-text">
    <h5>Laissez Nous</h5>
    <h1>
      Planfier votre <br />
      Voyage
    </h1>
    <p>
      lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit am
      lorem ipsum dolor sit am lorem ipsum dolor sit am lorem ipsum dolor sit
      amet, consectetur adip lorem ipsum dolor sit am lorem ipsum dolor sit am
      lorem ipsum dolor sit am
    </p>
    <a href="#" class="btn">Reservez un voyage</a>
  </div>
</section>

<!-- Section article -->
<section id="service" class="articles articlep">
  <h3>Nos Services</h3>
  <div class="container">
    <article>
      <img src="shanghai.jpg" alt="" />
      <h4>Effectuer une uhmra</h4>
      <p>
        lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit am
        lorem ipsum dolor sit am lorem ipsum dolor sit am lorem ipsum dolor sit
        amet, consectetur adip lorem ipsum dolor sit am lorem ipsum dolor sit am
        lorem ipsum dolor sit am
      </p>
      <a href="#" class="btn">Lire la suite</a>
    </article>

    <article>
      <img src="rio.jpg" alt="" />
      <h4>Effectuer un Hajj</h4>
      <p>
        lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit am
        lorem ipsum dolor sit am lorem ipsum dolor sit am lorem ipsum dolor sit
        amet, consectetur adip lorem ipsum dolor sit am lorem ipsum dolor sit am
        lorem ipsum dolor sit am
      </p>
      <a href="#" class="btn">Lire la suite</a>
    </article>
    <article>
      <img src="rio.jpg" alt="" />
      <h4>Notre Kit complet</h4>
      <p>
        lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit am
        lorem ipsum dolor sit am lorem ipsum dolor sit am lorem ipsum dolor sit
        amet, consectetur adip lorem ipsum dolor sit am lorem ipsum dolor sit am
        lorem ipsum dolor sit am
      </p>
      <a href="#" class="btn">Lire la suite</a>
    </article>
  </div>
</section>

<!-- Section agence -->
<section id="about" class="agence">
  <div class="container">
    <div class="col">
      <img src="agence.jpg" alt="Notre agence de V" />
    </div>
    <div class="col">
      <h6>Notre agence</h6>
      <p>
        lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit am
        lorem ipsum dolor sit am lorem ipsum dolor sit am lorem ipsum dolor sit
        amet, consectetur adip lorem ipsum dolor sit am lorem ipsum dolor sit am
        lorem ipsum dolor sit am
      </p>
      <p>
        lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit am
        lorem ipsum dolor sit am lorem ipsum dolor sit am lorem ipsum dolor sit
        amet, consectetur adip lorem ipsum dolor sit am lorem ipsum dolor sit am
        lorem ipsum dolor sit am
      </p>
      <p>
        lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit am
        lorem ipsum dolor sit am lorem ipsum dolor sit am lorem ipsum dolor sit
        amet, consectetur adip lorem ipsum dolor sit am lorem ipsum dolor sit am
        lorem ipsum dolor sit am
      </p>
    </div>
  </div>
</section>

<!-- Section feature -->
<section id="about"class="feature">
  <h3>Nos Agents</h3>
  <div class="feature-content">
    <div class="rows followUs">
      <div class="row-img">
        <img src="black_Al.jpg" alt="" />
      </div>
      <h5>Alson</h5>
    </div>
    <div class="rows followUs">
      <div class="row-img">
        <img src="1435331f-afaf-41f2-a5c3-886c70ebf4b8.jpg" alt="" />
      </div>
      <h5>Alson</h5>
    </div>
    <div class="rows followUs">
      <div class="row-img">
        <img src="black_Al.jpg" alt="" />
      </div>
      <h5>Alson</h5>
    </div>
    <div class="rows followUs">
      <div class="row-img">
        <img src="1435331f-afaf-41f2-a5c3-886c70ebf4b8.jpg" alt="" />
      </div>
      <h5>Alson</h5>
    </div>
    <div class="rows followUs">
      <div class="row-img">
        <img src="Al_Vest.jpg" alt="" />
      </div>
      <h5>Alson</h5>
    </div>
  </div>
</section>

<!-- Section Temoignage -->
<section id="tem" class="tour">
  <div class="center-text">
    <h6>Temoignages</h6>
  </div>
  <div class="tour-content">
    <div class="box">
      <img
        src="1435331f-afaf-41f2-a5c3-886c70ebf4b8.jpg"
        alt=""
        class="follow"
      />
      <h2>Mr Py</h2>
      <h5 class="followU">MAQUASSIDY voyage est le meilleure...</h5>
      <div class="center-btn">
        <a href="#" class="btn">Lire Le Temoignage</a>
      </div>
    </div>

    <div class="box">
      <img
        class="follow"
        src="1435331f-afaf-41f2-a5c3-886c70ebf4b8.jpg"
        alt=""
      />
      <h2>Mr Py</h2>
      <h5 class="followU">MAQUASSIDY voyage est le meilleure...</h5>
      <div class="center-btn">
        <a href="#" class="btn">Lire Le Temoignage</a>
      </div>
    </div>

    <div class="box">
      <img
        class="follow"
        src="1435331f-afaf-41f2-a5c3-886c70ebf4b8.jpg"
        alt=""
      />
      <h2>Mr Py</h2>
      <h5 class="followU">MAQUASSIDY voyage est le meilleure...</h5>
      <div class="center-btn">
        <a href="#" class="btn">Lire Le Temoignage</a>
      </div>
    </div>
  </div>
</section>

<!-- Section contact -->
<section id="contact" class="contact">
  <div class="container">
    <div class="col cols">
      <img src="avion.png" alt="Avion" />
    </div>
        <div class="col">
      <h6> <span>Nous c</span>ontacter</h6>
      <form action="" method="post">
        <input class="placeholders" type="text" name="nom" placeholder="Nom"/>
        <input class="placeholders" type="text" name="prenom" placeholder="Prénom" />
        <input class="placeholders" type="email" name="email" placeholder="Email" />
        <input class="placeholders" type="tel" name="telephone" placeholder="Téléphone" />
        <textarea
        class="placeholders"
          name="message"
          id=""
          cols="80"
          rows="10"
          placeholder="Votre message"
        ></textarea>
        <p><button class="btn" type="submit">Envoyer</button></p>
      </form>
    </div>
    <div class="col imag">
      <img src="avion.png" alt="Avion" />
    </div>


  </div>
</section>
