header
{   position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.50s ease-in-out;
}

.social {
    justify-content: space-evenly;
    display: flex;
    gap: 1rem;
}

.sticky{
    padding:2px 17%;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.186);
}

.logo{
    list-style: none;
    text-decoration: none;
    font-size :33px;
    color: var(--text-color);
    font-weight: 700;
    transition: all 0.50s ease-in-out;
}
.logo:hover{
    font-size :33px;
    color: var(--main-color);
    font-weight: 700;
    transform: translateY(-5px);
    transition: all 0.50s ease-in-out;
}

span{
    color: var(--main-color);
    transition: all 0.50s ease-in-out;
}
span:hover{
    transition: all 0.50s ease-in-out;
    color: var(--text-color);
}


.navbar{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 5px 10px;
    transition: all 0.50s ease-in-out;
}
.navbar a:hover{
    color: var(--main-color);
    transition: all 0.50s ease-in-out;
}


.h-right{
    display: flex;
    align-items:center;
}


i {
    font-size: 2em;
}

.follow{
    vertical-align: middle;
    font-size:20px;
    color: var(--text-color);
    margin-right:18px;
    margin-left:5px;
    transition: all 0.50s ease-in-out;
}
.follow{
    color: var(--text-color);
    transform: translateY(-5px);
    transition: all 0.50s ease-in-out;
}
#menu-icon{
    color: var(--text-color);
    font-size:30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
