<!-- En tête  -->
<header class="sticky">
    <a href="#home"  class="logo"> MAQUASSIDY<span>voyages</span> </a>
    <ul class="navbar">
        <li><a href="#home">Acceuill</a></li>
        <li><a href="#service">Services</a></li>
        <li><a href="#about">A Propos</a></li>
        <li><a href="#tem">Temoignages</a></li>
        <li><a href="#contact">contact</a></li>
    </ul>            
    
    <div class= "h-right">
     <div class="social dflex ">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
        <div class="bx bx-menu " id="menu-icon"></div>
    </div>
</header>