    <!-- footer -->
    <footer>
        <div class="container header dflex space-between">
            <div class="col-30">
    <a href="#" class="logo"> MAQUASSIDY<span>voyages</span> </a>
            </div>
            <div class="col-30">
                <h3>Informations</h3>
                <ul>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Conditions de vente</a></li>
                </ul>
            </div>
            <div class="col-30">
                <h3>Nous suivre</h3>
                <div class="social dflex ">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="copyright">&copy; 2024 - <a href="#">AlsonDab</a> - Tous les droits réservés</p>
        </div>
    </footer>